{% extends 'base.html' %} 
{% block title %}
    {{ post.title }} - {{ block.super }} 
{% endblock title %}

{% block content %}
    <h3>{{ post.title }}  {{ post.url }}</h3> 
    <p>{{ post.description }}</p>
    <p>Author: {{ post.author }}</p>
    <a href="{% url 'create_comment' slug=post.slug %}">Comment on {{ post.title }}</a>   ||  
    <a href="{% url 'edit_post' slug=post.slug %}">Edit {{ post.title }}</a>  

    <p>Comments on {{ post.title }}:</p>
        {% for comment in post.comment_set.all reversed %}
            
        <strong>{{ comment.commenter }} said on {{ comment.created_date }}:</strong>
        <i>{{ comment.comment|linebreaks }}</i>
            
        {% endfor %} 


{% endblock content %}