{% extends 'base.html' %} 
{% block title %}
    {{ post.title }} - {{ block.super }} 
{% endblock title %}

{% block content %}
    <h3>Article: {{ post.title | capfirst }}</h3>   
    <p>Article Details: {{ post.description | capfirst }}</p>
    <p>Go to article: <a href="{{ post.url }}">{{ post.url }}</a></p>
    <p>Author: {{ post.author }}</p>
    <a href="{% url 'create_comment' slug=post.slug %}">Comment on {{ post.title }}</a>   ||  
    <a href="{% url 'edit_post' slug=post.slug %}">Edit {{ post.title }}</a>  

    {% if request.user == post.author %}
        <form method="POST" action="{% url 'delete_post' slug=post.slug %}">
            {% csrf_token %}
            <button type="submit">Delete your post</button></a>
        </form>
    {% endif %}

    <p>Comments on {{ post.title | capfirst }}:</p>
    {% for comment in post.comment_set.all reversed %}    
    <strong>{{ comment.commenter }} said on {{ comment.created_date }}:</strong>
    <i>{{ comment.comment|linebreaks }}</i>
    

        {% if request.user == comment.commenter %}
            <form method="POST" action="{% url 'delete_comment' comment_id=comment.pk %}">
                {% csrf_token %}
                <button type="submit">Delete your comment</button></a>
            </form>
        {% endif %}
    {% endfor %} 

{% endblock content %}