{% load staticfiles %}
<!doctype html>
<html>
    <head>
        <meta charset='UTF-8'/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            {% block title %}
            Welcome to Apile: Crystal-Steve Edition!
            <!-- please change if you think this is too cheesy -->
            {% endblock title %}
        </title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
        <!--bulma or tachyons or CSS style sheet stuff here  -->
        {% block header %}{% endblock header %}
    </head>
    <body>
        <header>
        <nav>
            <!-- need to flesh out nav content with other functionality -->
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'create_post' %}">Create a Post</a></li>
                <li><a href="{% url 'auth_logout' %}">Logout</a></li>
                {% else %}
                <li><a href="{% url 'auth_login' %}">Login</a></li>
                <li><a href="{% url 'registration_register' %}">Register</a></li>
                {% endif %}
            </ul>
        
        
        </nav>
    </header>
    <div class= "container mw8 center">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>

        {% block content %}{% endblock content %}
        {% block footer %}{% endblock footer %}
    </body>
    </html>