{% extends 'base.html' %} 
{% block title %}
    Homepage - {{ block.super }} 
{% endblock title %}

{% block content %}
        <!-- <body class="georgia">
        {% for post in posts %}
            {% if post.url %}
        <section class="section">
            <div class="container">
            <h1 class="title"> <a href="{{ post.url }}">{{ post.title }}</a></h1>
            {% else %} 
            <h1 class="title"> <a href="{% url 'post_detail' slug=post.slug %}">{{ post.title }}</a></h1>
            {% endif %}
            <h2 class="subtitle">
                {{ post.description }}
            </h2>
            <p>
                <ul class="fw5"> Votes: {{ post.vote_set.count }}</ul>
                <ul class="fw5">Comments: {{ post.comment_set.count }}</ul>
            </P>
            </div>
        </section>
        {% endfor %}
        </body> -->
    {% for post in posts %}
        <!-- {% if post.url %}
            <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
        {% else %}  -->
        <h4><a href="{% url 'post_detail' slug=post.slug %}">{{ post.title }}</a></h4>
        <!-- {% endif %} -->
        <p>{{ post.description }}</p>
        <p>Votes: {{post.vote_set.count}}</p>
        <p>Comments: {{ post.comment_set.count }}</p>
        {% if request.user.is_authenticated %}
            <form method="POST" action="{% url 'voting' slug=post.slug %}">
            {% csrf_token %}
            <button type="submit">
                {% if post in upvote_list %}

                &#xf0aa;

                {% else %}
        
                &#xf0ab; 

                {% endif %}
            </button>
            </form>
        {% endif %}
    {% endfor %} 
    
    <nav class="pagination is-medium" role="navigation" aria-lable="pagination">
        <span class="step-links">
            {% if posts.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ posts.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
            </span>

            {% if posts.has_next %}
                <a href="?page={{ posts.next_page_number }}">next</a>
                <a href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock content %}