{% extends 'base.html' %} 
{% block title %}
    Homepage - {{ block.super }} 
{% endblock title %}

{% block content %}
    {% for post in posts %}
        <h2><a href="{% url 'post_detail' slug=post.slug %}">
            {{post.title }}
        </a></h2>
        <p>{{ post.description }}</p>
        <p>Votes: {{post.vote_set.count}}</p>
        <p>Comments: {{ post.comment_set.count }}</p>
        {% if request.user.is_authenticated %}
        <form method="POST" action="{% url 'vote_button' slug=slug %}">
            {% csrf_token %}
            <button class="button">Vote</button>
        {% endif %}
    {% endfor %}
{% endblock content %}